@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

body {
  background: radial-gradient(
      ellipse 80% 60% at 50% 0%,
      rgba(251, 191, 36, 0.2),
      transparent 70%
    ),
    #ffffff;
  background-attachment: fixed;
}

.dark body {
  background: radial-gradient(
      ellipse 80% 60% at 50% 0%,
      rgba(251, 191, 36, 0.25),
      transparent 70%
    ),
    #000000;
  background-attachment: fixed;
}

aside#nd-sidebar {
  background: #ffffff30;
  backdrop-filter: blur(10px);
}

.dark aside#nd-sidebar {
  background: #00000030;
  backdrop-filter: blur(10px);
}